@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  // font-weight: 700;
}

html {
  // height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 10px;
}

.page-title {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.page-pagination {
  padding-top: 10px;
}

.table-line {
  height: 15px;
  border-top: 1px solid #d8dce5;
}

.search {
  // text-align: right;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #d8dce5;

  .el-form-item {
    margin-bottom: 0;
  }

  .el-select {
    width: 160px;
  }

  .keyword-search {
    .el-form-item__content {
      width: 200px;
    }
  }
}

.search2 {
  .el-select {
    width: 100px;
  }

  .keyword-search {
    .el-form-item__content {
      width: 100px;
    }
  }

  .el-input__inner {
    padding: 0 10px;
  }
}

.product-idetail {
  >div {
    margin-bottom: 15px;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
